h1 {
    font-family: arial;
    font-size: 100px;
    font-weight: normal;
    font-variant: small-caps;
    font-style: italic;
}

p {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 20px;

}