h1 {
    font-size: 150px;
    color: #701494;
    text-align: center;

}

p {
    text-align: justify;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
}

a {
    text-decoration: none;

}